<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcjc666.tcpserver.mapper.EquipmentTypeMapper">
    <select id="getList" resultType="com.hcjc666.tcpserver.entity.EquipmentType">
        select *
        from main_equipment_type
    </select>
    <select id="query" resultType="com.hcjc666.tcpserver.entity.EquipmentType">
        select *
        from main_equipment_type
        <where>
            <if test="fid != null and fid != ''">
                fid=#{fid}
            </if>
            <if test="equipmentType != null and equipmentType != ''">
                and equipment_type = #{equipmentType}
            </if>
            <if test="factory != null and factory != ''">
                and factory=#{factory}
            </if>
            <if test="protocol != null and protocol != ''">
                and protocol=#{protocol}
            </if>
            <if test="handleConfig != null and handleConfig != ''">
                and handle_config=#{handleConfig}
            </if>
            <if test="remark != null and remark != ''">
                and remark=#{remark}
            </if>
        </where>
        limit 0,1 
    </select>
</mapper> 